@import "../../utils/variables";
.input-default {
  background-color: $light-grey-background !important;
  border: none;
  box-shadow: $box-shadow;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 40px;
  &:focus {
    box-shadow: $box-shadow;
  }
  &::placeholder {
    font-weight: 600;
  }
}
