$color-green: rgb(89, 185, 115);
$color-dark-green: rgb(0, 177, 110);
$color-blue: rgb(71, 165, 236);
$box-shadow: 0 0 3px #c1c1c1;
$box-shadow-green: 0 0 3px $color-green;
$light-grey-background: #f7f8f9;
$light-border: #f0f0f0;
